<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Cleps-Game!!</title>
</head>
<body>
    <div class="hands">
        <div class="hand1">
            <img src="./hands/hand0.png">
            <h2>Player 1</h2>
        </div>
         <div class="hand1">
            <img src="./hands/hand0.png">
            <h2>Player 2</h2>
        </div>
        <div class="hand1">
            <img src="./hands/hand0.png">
            <h2>Player 3</h2>
        </div>
        <div class="hand1">
            <img src="./hands/hand0.png">
            <h2>Player 4</h2>
        </div>
    </div>
    <div class="button-container"> 
        <button class="play">Play</button> 
    </div>
    <div class="output-container">
        <h1></h1>
    </div>


    <script src="./game.js"></script>
</body>
</html>